html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f1dfd9;
  color: #363732;
}
@media (max-width: 768px) {
  body {
    width: 100wh;
  }
}

.hamburger {
  z-index: 10000;
  position: fixed;
  top: 20px;
  right: 20px;
  mix-blend-mode: difference;
  padding: 10px;
}
.line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger .nav {
  display: none;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.nav.active {
  display: block;

  background-color: #363732;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-0%);
  transition: all 0.5s ease;
}
.nav {
  transform: translateX(100%);
  transition: all 0.5s ease;
  z-index: 9100;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.nav li {
  list-style: none;
  padding: 20px 0;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 3px;
  transition: all 0.3s ease;
}
a {
  text-decoration: none;
  color: white;
  font-family: "nunito sans", sans-serif;
  font-size: 20px;
  padding: 20px 0;
  font-weight: 300;
  letter-spacing: 3px;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .nav {
    width: 70%;
  }
}

.active .line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-1px, 6px);
  transform: rotate(-45deg) translate(-5px, 8px);
}

.active .line:nth-child(2) {
  opacity: 0;
}

.active .line:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-3px, -7px);
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
}
p {
  font-family: "nunito sans", sans-serif;
  text-align: center;
  font-size: 20px;
}

h3 {
  font-family: "nunito sans", serif;
  font-size: 24px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
li {
  font-family: "nunito sans", sans-serif;
}

.hero {
  height: 100vh;
}
.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 768px) {
  .hero video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 9000;
  }
  .hero {
    height: 100vh;
    background-color: #000;
  }
}

.products {
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 2000px;
}

.ellipse {
  width: 210px;
  border-radius: 50%;
  background-color: #f1dfd9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin: 0;
}
.product-cirkle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fb3640;
  position: absolute;
}

.product img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
  background: url("Coca-Cola-bilder/Ellipse.png");
  background-size: 230px;
  background-repeat: no-repeat;
  background-position: center;
}
.products h2 {
  padding: 100px;
  margin: 0;
  text-align: center;
}
.product p {
  width: 250px;
  text-align: left;
  font-weight: 300;
}

@media (max-width: 768px) {
  .products h2 {
    padding: 20px;
    font-size: 46px;
    padding-bottom: 70px;
    padding-top: 70px;
  }
  .product {
    width: 40%;
    justify-content: flex-start;
  }
  .products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    gap: 20px;
    padding-bottom: 70px;
  }
  .product p {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
  .product img {
    width: 130%;
    height: auto;
    background-size: 70%;
    border-radius: 50%;
    height: auto;
  }
  .product h3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .product:nth-of-type(1) h3,
  .product:nth-of-type(4) h3 {
    padding-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .product:nth-of-type(2) h3,
  .product:nth-of-type(3) h3 {
    padding-bottom: 35px;
  }
}

.history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.history-img-container {
  width: 100%;
  height: 100%;
}
.history-main-img {
  width: 100%;
  height: 50%;
}
.history-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 100px;
  padding-top: 0;
}

.history-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin-top: 35px;
  color: white;
  background-color: #363732;
  border-radius: 10px;
}
.history h2 {
  padding: 100px;
  margin: 0;
}

.history-item img {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 50%;
  height: auto;
  border-radius: 10px;
}
.history-item h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  text-align: center;
  text-align: center;
  color: #fb3640;
}
.history-item p {
  text-align: left;
}
.history-text {
  padding-left: 50px;
  width: 40%;
}
.Production {
  display: flex;
  flex-direction: row-reverse;
}
.Product img {
}
.Production .history-text {
  padding-right: 50px;
  padding-left: 0;
}
.Production h3 {
  text-align: center;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .history-container {
    padding: 0;
  }
  .history-item {
    flex-direction: column;
  }
  .history-item img {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .Production .history-text {
    padding-right: 0;
    padding-left: 0;
  }
  .Production h3 {
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
  }
  .history-text,
  .Production .history-text {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  #history-link {
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.coke-pros-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  margin: 0;
  padding-bottom: 50px;
}

.coke-pros-container ol {
  width: 866px;
}

.coke-pros-container li {
  padding-bottom: 50px;
}
.coke-pros h2 {
  padding: 100px;
  margin: 0;
}
.coke-pros img {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .coke-pros h2 {
    font-size: 46px;
    padding: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  p {
    font-size: 16px;
  }
  h3 {
    font-size: 20px;
  }
  li {
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
  }
  .coke-pros-container ol {
    width: 100%;
  }
  .commercial {
    padding-top: 70px;
  }
}

.truck img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.santaInfo1 {
    display: flex;
    justify-content: space-between;
  }

  .santaInfo2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .santaInfo3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

.santaInfoParagraph1 {
  width: 24rem;
  margin-top: 4rem;
  margin-left: 12rem;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  align-self: center;
  text-align: start;
}

.santaInfoParagraph2 {
  width: 36rem;
  margin-right: 12rem;
  margin-left: 10rem;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  align-self: center;
  text-align: start;
}

.santaInfoParagraph3 {
  width: 24rem;
  margin-left: 12rem;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  align-self: center;
  text-align: start;
}

.santaInfoImg1 {
  width: 655px;
  height: 600px;
  margin-left: 0;
  margin-top: 4rem;
  margin-right: 6rem;
}

.santaInfoImg2 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 700px;
  height: 415px;
}

.santaInfoImg3 {
  width: 500px;
  height: 700px;
  margin-left: 0;
  margin-right: 8rem
}

.commercial video {
  width: 100%;
  object-fit: cover;
}

.tcccLogo {
  width: 502px;
  height: 284px;
}

footer {
  display: flex;
  width: 100%;
  height: 367px;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  background-color: #363732;
  color: #f1dfd9;
  align-items: center;
}

.footerContainer {
  position: absolute;
  width: 100%;
  height: auto;
}

.footerMain {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: #f1dfd9;
  text-decoration: none;
}

footer a:hover {
  color: #fb3640;
}

.footerSection {
  display: grid;
  align-items: center;
}

.footerCenter {
  display: flex;
  align-items: center;
}

.footerLink {
  height: 4rem;
}

@media (max-width: 768px) {
  .santaInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .santaInfo1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  .santaInfo2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
  }

  .santaInfo3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .santaInfoParagraph1 {
    display: flex;
    width: auto;
    height: auto;
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin-left: 2rem;
  }

  .santaInfoImg1 {
    width: 50%;
    height: 50%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0;
  }

  .santaInfoParagraph2 {
    display: flex;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin-right: 2rem;
  }

  .santaInfoImg2 {
    width: 50%;
    height: 50%;
  }

  .santaInfoParagraph3 {
    display: flex;
    width: auto;
    height: auto;
    font-size: 16px;
    margin: 0;
    margin-left: 2rem;
  }

  .santaInfoImg3 {
    width: 50%;
    height: 50%;
    margin-right: 2rem;
    margin-right: 2rem;
  }

  footer {
    width: 100%;
    height: 15rem;
    display: flex;
   font-size: 16px;
  }

  .footerContainer {
    display: flex;
    flex-direction: row;
    height: 100px;
  }

  .footerMain {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footerSection {
    display: flex;
    gap: 4rem;
  }

  .footerLink {
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
  }

  .footerCenter {
    display: flex;
    align-items: center;
    margin-top: -30px;
  }

  .tcccLogo {
    height: fit-content;
    width: 250px;
  }

  #home {
    display: none;
  }

  #about {
    display: none;
  }

  #contact {
    display: none;
  }
}
@media (min-width: 768px) {
  .history-item {
    min-width: fit-content;
  }
  .history-container {
    max-width: 1200px;
    min-width: fit-content;
  }
}
@media (max-width: 1000px) {
  .history-item p {
    font-size: 16px;
  }
}